.cart {
  margin-bottom: 70px;
}

.settle-now-btn-group {
  border-top: 1px solid #36342F;
  background-color: #1B1A17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 8%;
}

.settle-now-btn {
  border-radius: 10px;
  background-color: #FFB037;
  border: 1px solid #FFB037;
  outline: none;
  font-size: 22px;
  font-weight: 400;
  width: 280px;
  height: 3rem;
}

.total-price {
  font-size: 18px;
  color: #fff;
}