.navbar-brand {
  color: #FFB037 !important;
}

.navbar {
  background-color: #000 !important;
  flex-wrap: nowrap !important;
}

.nav-logo {
  width: 30px;
  height: 30px;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-icon {
  height: 30px;
  width: 30px;
  filter: invert(93%) sepia(1%) saturate(0%) hue-rotate(151deg) brightness(88%) contrast(85%);
}

.nav-link.active > .nav-icon{
  filter: invert(82%) sepia(33%) saturate(2300%) hue-rotate(330deg) brightness(102%) contrast(101%);
}

.nav-link.active > .menu-icon{
  filter: invert(82%) sepia(33%) saturate(2300%) hue-rotate(330deg) brightness(102%) contrast(101%);
}

.nav-link-highlight.active {
  border-bottom: 2px solid #af7a2a;
}

.cart-quantity {
  background-color: #362711;
  color: #FFB037;
  border-radius: 100px;
  padding: 2px 4px;
  font-weight: 600;
}

.offcanvas-body{
  background-color: #f2f2f2;
}

.offcanvas-header {
  background-color: #FFB037;
  height: 30%;
  align-items: start !important;
}

.user-img {
  height: 64px;
  width: 64px;
  margin-top: 45%;
  border-radius: 50%;
  border: 2px solid #FFB037;
}

.user-name {
  padding-top: 12px;
}

.menu-icon {
  height: 28px;
  width: 28px;
  filter: invert(0%) sepia(19%) saturate(5840%) hue-rotate(113deg) brightness(101%) contrast(79%);
}

.menu-link {
  display: flex !important;
  align-items: center;
  padding-left: 5px !important;
}

.menu-link span {
  padding-left: 20px;
  color: #000;
  font-weight: 400;
}

.menu-link.active > .menu-title {
  font-weight: 600;
}