.card {
  cursor: pointer;
}

.card-img-top {
  max-height: 330px;
}

.card-icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: .25rem;
}

.card-body {
  background-color: #F8F5F1;
}

.card-text {
  font-weight: 500;
  vertical-align: middle;
  line-height: 20px;
}
