.option-bar {
  background-color: #000;
  width: 100%;
}

.option-bar-icon {
  width: 26px;
  height: 26px;
  filter: invert(93%) sepia(1%) saturate(0%) hue-rotate(151deg) brightness(88%) contrast(85%);
}

.nav-link.active > .option-bar-icon {
  filter: invert(82%) sepia(33%) saturate(2300%) hue-rotate(330deg) brightness(102%) contrast(101%);
}
