a {
  text-decoration: none !important;
  color: #000 !important;
}

/* width */
.offcanvas-body::-webkit-scrollbar {
  width: 8px; 
}

/* Track */
.offcanvas-body::-webkit-scrollbar-track {
  background: #1B1A17;
}
 
/* Handle */
.offcanvas-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.offcanvas-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-title {
  padding: 15px 0;
  color: #fbfbfb;
}

.sub-title {
  color: #F8F5F1;
  opacity: 0.9;
}

.item-color {
  height: 38px;
  width: 38px;
  border: 2px solid #36342F;
  border-radius: 5px;
  cursor: pointer;
}

.item-color.active {
  border: 2px solid #f2f2f2;
}

.item-size {
  height: 38px;
  width: 38px;
  border: 2px solid #36342F;
  border-radius: 5px;
  text-align: center;
  background-color: #1B1A17;
  color: #c0c0c0;
  font-weight: 500;
  font-size: 21px;
  cursor: pointer;
}

.item-size.active {
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #000;
}